<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.devruwanrathnayake.trip_plan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TransportBooking"
            android:label="@string/title_activity_transport_booking"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".TransportForm"
            android:label="@string/title_activity_transport_form"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TransportDetails"
            android:label="@string/title_activity_transport_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HotelDetails"
            android:label="@string/title_activity_hotel_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".userdetails"
            android:label="@string/title_activity_userdetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HotelsBooking"
            android:label="@string/title_activity_hotels_booking"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HotelForm"
            android:label="@string/title_activity_hotel_form"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>